.w20 {
    width: 20%;
}
.w40 {
    width: 40%;
}

.valueInt {
    text-align: right;
    margin: 2%;
    max-width: 50px;
}

.label {
    display: block;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.fl {
    float: left;
}
